<!DOCTYPE html>
{% load bootstrap4 %}
{# model/templates/model/control_board.html #}
{% load render_table from django_tables2 %}
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'model/images/favicon.ico' %}"/>
        <link rel="icon" type="image/x-icon" href="{% static 'model/images/favicon.ico' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <title>Terraço Verde CWB - Comparação modelos intensivo Vs extensivo</title>
        <style>
            h2 {
               color: #337AB7;
            }
            h3 {
               color: #337AB7;
               font-weight: bold;
            }
            h4 {
               color: #337AB7;
            }
            body {
                padding: 10px;
            }
            input {
                margin:0 0.25em;
            }
            tr:hover td {
               background-color: #337AB7;
               color: #ffffff
            }
            tr:nth-child(even) {
               background-color: #F0F0F0;
            }
            tr.status_table_header:nth-child(even) {
               background-color: #FFFFFF;
            }
        </style>
        <script>
            function reset_filter() {
                document.getElementById('id_control_board__nickname').value='';
                document.getElementById('id_control_board__prototype_side').selectedIndex = 0;
                document.getElementById('id_timestamp_0').value='';
                document.getElementById('id_timestamp_1').value='';
                document.getElementById('id_status_received').value='';
                document.getElementById('page_filter').submit();
            }
        </script>
    </head>
    <body>
        <h3>Terraço Verde - Comparação Modelo Intensivo Vs Extensivo</h3>
        <h4>Leituras de placas controladoras (<a href="/">Ver Sensores</a>)</h4>
        <br/>
        <p>Pesquisadores responsáveis: Thamille Casagrande e Daniel Dias</p>
        {% if last_status_array %}
        <br/>
        <h4>Saúde das controladoras</h4>
            <table class="table">
                <thead>
                    <tr class="status_table_header">
                        <th class="col-2" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Apelido da controladora">Controladora</div></th>
                        <th class="col" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Versão atual do firmware">Firmware</div></th>
                        <th class="col" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Data/hora último reset">Último reset</div></th>
                        <th class="col" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Status do último reset">Status último reset</div></th>
                        <th class="col" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Número de resets nos últimos 7 dias">Nº resets</div></th>
                        <th class="col" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Data/hora último pediro de atualização de data e hora (Time Update Request)">Último TUR</div></th>
                        <th class="col" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Número de TUR nos últimos 7 dias">Nº TUR</div></th>
                        <th class="col" colspan="3"><div data-toggle="tooltip" data-placement="right" title="O: ok, D: detectado, E: erro, U: indefinido">Estado sensores</div></th>
                        <th class="col" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Número de eventos para  sensor PLV ou SOC">Contador<br/>PLV/SOC</div></th>
                        <th class="col" rowspan="2"><div data-toggle="tooltip" data-placement="right" title="Número de processos em execução na controladora">Contador<br/>processos</div></th>
                        <th class="col" colspan="14"><div data-toggle="tooltip" data-placement="right" title="X: em execução, P: parado, E: erro">Bitmap de processos</div></th>
                    </tr>
                    <tr class="status_table_header">
                        <th class="col"><div data-toggle="tooltip" data-placement="right" title="Sensor de chuva no ralo">SCR</div></th>
                        <th class="col"><div data-toggle="tooltip" data-placement="right" title="Sensor de umidade">SCU</div></th>
                        <th class="col"><div data-toggle="tooltip" data-placement="right" title="Sensor de temperatura">TMP</div></th>
                        {% for tooltip in process_bitmap_tooltips %}
                            <th class="col"><div data-toggle="tooltip" data-placement="right" title="{{tooltip}}">{{ forloop.counter0 }}</div></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for board_status in last_status_array %}
                    <tr>
                        <td>{{board_status.board}}</td>
                        <td>{{board_status.firmware_version}}</td>
                        <td>{{board_status.last_start}}</td>
                        <td>{{board_status.info_array.board_state}}</td>
                        <td>{{board_status.resets_count}}</td>
                        <td>{{board_status.last_tur}}</td>
                        <td>{{board_status.tur_count}}</td>
                        {% for state_array in board_status.info_array.sensors_state_array %}
                            <td>{{state_array}}</td>
                        {% endfor %}
                        <td>{{board_status.info_array.irq_events_count}}</td>
                        <td>{{board_status.info_array.board_process_count}}</td>
                        {% for process_state in board_status.info_array.board_process_bitmap %}
                            {% if process_state.state == "E" %}
                                <td style="color: red; font-weight: bold;">
                            {% else %}
                                <td>
                            {% endif %}
                                {{process_state.state}}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
        {% endif %}
        <h4>Lista de status recebido das controladoras</h4>
        <br/>
        {% if filter %}
            <form id="page_filter" action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filter' %}
                <button class="btn btn-secondary" type="reset" onclick="reset_filter()">reset</button>
            </form><br/>
        {% endif %}
        {% render_table table %}
    </body>
</html>