<!DOCTYPE html>
{% load bootstrap4 %}
{# model/templates/model/index.html #}
{% load render_table from django_tables2 %}
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'model/images/favicon.ico' %}"/>
        <link rel="icon" type="image/x-icon" href="{% static 'model/images/favicon.ico' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
        <title>Terraço Verde CWB - Comparação modelos intensivo Vs extensivo</title>
        <style>
            h3 {
               color: #337AB7;
               font-weight: bold;
            }
            h4 {
               color: #337AB7;
            }
            body {
                padding: 10px;
            }
            input {
                margin:0 0.25em;
            }
            tr:hover td {
               background-color: #337AB7;
               color: #ffffff
            }
            tr:nth-child(even) {
               background-color: #F0F0F0;
            }
        </style>
        <script>
            function reset_filter() {
                document.getElementById('id_sensor__sensor_id').value='';
                document.getElementById('id_timestamp_0').value='';
                document.getElementById('id_timestamp_1').value='';
                document.getElementById('id_value_read').value='';
                document.getElementById('id_sensor__control_board__prototype_side').selectedIndex = 0;
                document.getElementById('page_filter').submit();
            }
        </script>
    </head>
    <body>
        <h3>Terraço Verde - Comparação Modelo Intensivo Vs Extensivo</h3>
        <h4>Leituras de sensores (<a href="/boards">Ver Placas Controladoras</a>)</h4>
        <br/>
        <p>Pesquisadores responsáveis: Thamille Casagrande e Daniel Dias</p>
        <br/>
        {% if filter %}
            <form id="page_filter" action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filter' %}
                <button class="btn btn-secondary" type="reset" onclick="reset_filter()">reset</button>
            </form><br/>
        {% endif %}
        {% render_table table %}
        <script>
          $(function () {
            $("#id_timestamp_0").datetimepicker({
              format: 'd/m/Y H:i',
            });
            $("#id_timestamp_1").datetimepicker({
              format: 'd/m/Y H:i',
            });
            $("#id_timestamp_0").attr('autocomplete', 'off');
            $("#id_timestamp_1").attr('autocomplete', 'off');
          });
        </script>
    </body>
</html>