<!DOCTYPE html>
{% load bootstrap4 %}
{# model/templates/model/index.html #}
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'model/images/favicon.ico' %}"/>
        <link rel="icon" type="image/x-icon" href="{% static 'model/images/favicon.ico' %}" />

        <script src="{% static 'model/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'model/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'model/css/bootstrap.min.css' %}" />

        <script src="{% static 'model/js/jquery.datetimepicker.full.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'model/css/jquery.datetimepicker.min.css' %}" />

        <title>Terraço Verde CWB - Comparação modelos intensivo Vs extensivo</title>
        <style>
            h2 {
               color: #337AB7;
            }
            h3 {
               color: #337AB7;
            }
            h4 {
               color: #337AB7;
            }
            body {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <h3>Terraço Verde - Comparação Modelo Intensivo Vs Extensivo</h3>
        <h4>Pesquisa comparativa entre tipos de telhados verdes</h4>
        <br/>
        <h5>Pesquisadores responsáveis: Thamille Casagrande e Daniel Dias</h5>
        <br/>
        <br/>
        Página ainda não implementada. <a href="/">Retornar</a>
    </body>
</html>